
/* c贸digo tipo de fuente*/
@font-face{
  font-family: 'DancingScriptRegular';
  src: url('DancingScriptRegular.otf');
}

body{
  background-color: black;
}

/*c贸digo cabecera*/
#cabecera{
  margin:0 auto;
  width:900px;
  background-color: #5b7989;
  border-radius: 10px 10px 0 0 ;
  -webkit-border-radius: 10px 10px 0 0;
  text-shadow: 2px 2px 2px #02010a;
}

#info{
  width:100%;
  display:flex;
  flex-flow: nowrap;
}

div[class^="cab"]{
  width:50%;
  padding: 1%;
}

.cab1 h1{
  color: white;
  font-family: 'DancingScriptRegular';
}

.cab2 nav{
  text-align: right;
}

.cab2 a{
  color: white;
  font-size: 16px;
  font-family: 'DancingScriptRegular';
}

@media only screen and (max-width: 900px) {
  #cabecera{
    width:100%;
  }
 div[class^="cab"]{
   width:100%;
 }
}

/*C贸digo para el body*/

#contenido{
  margin:0 auto;
  width:900px;
  background-color: #d5c75f;
}

#cajafotos{
  width:100%;
  display:flex;
  flex-flow: row wrap;
}

div[class^="foto"]{
  width:33.3%;
}

img{
  width:90%;
  padding:5%;
}

@media only screen and (max-width: 900px) {
  #contenido{
    width:100%;
  }
 div[class^="foto"]{
   width:100%;
 }
}

.foto1 img{
  filter: blur(10px);
}

.foto2, .foto4, .foto6 img{
  filter: grayscale(100%);
}

.foto3 img{
  filter: sepia(90%);
}

/*C贸digo para el Footer*/

#pie{
  margin:0 auto;
  width:900px;
  border-radius: 0 0 10px 10px;
  background-color: #C6d5c5;
}

#piepagina{
  width:100%;
  display:flex;
  flex-flow: row wrap;
}

div[class^="dato"]{
  width:23%;
  padding: 1%;
}

@media only screen and (max-width: 900px) {
  #pie{
    width:100%;
  }
 div[class^="dato"]{
   width:100%;
 }
}
